
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Formulário de gasto</title>
</head>
<body>

  <h1>add novo gasto</h1>

  <form action="#" method="post">
    <label for="valo:">Valor:</label>
    <input type="number" id="valor" name="valor" [(ngModel)]="valor" required placeholder="Digite o valor gasto">

 <label>
      <input type="checkbox" id="parcela" name="parcela" [(ngModel)]="parcela">
      foi parcelado?
    </label>


    @if ((parcela)) {
      <div>
        <label for="numParcelas">Número de Parcelas:</label>
        <input type="number" id="numParcelas" name="numParcelas" min="1" [(ngModel)]="numparcela" required placeholder ="Digite o número de parcelas">
    </div>
}@else {
      <div>
        <h2>Parcelamento não selecionado</h2>
      </div>}


    <div class="buttons">
      <button type="submit">Enviar</button>
      <button type="reset">Limpar</button>
    </div>
  </form>

</body>
</html>
